name: 'test'

on:
  push:
    paths-ignore:
      - README.md
      - .gitignore
    branches:
      - master
  pull_request:
    paths-ignore:
      - README.md
      - .gitignore

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        scala:
          - { version: "2.12.12", binary-version: "2.12" }
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: '8'
      - name: Download SBT wrapper
        run: curl -Ls https://git.io/sbt > sbtx && chmod 0755 sbtx
      - name: Cache SBT
        uses: actions/cache@v2
        with:
          path: |
            ~/.ivy2/cache
            ~/.sbt
          key: ${{ runner.os }}-sbt-${{ hashFiles('**/*.sbt') }}-${{ hashFiles('**/build.properties') }}
      - name: SBT ci-checks
        run: ./sbtx test scripted
